:root {
	--primary-color: #000;
	--secondary-color: #fff;
	--font: 'Roboto', sans-serif;
	--hover-bg-color: #e8e6e6;
	--hover-bg-dark-color: #ccc;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--font);
	scrollbar-width: thin;
	scroll-behavior: smooth;
}

html {
	scrollbar-color: var(--hover-bg-dark-color) var(--secondary-color);
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pointer {
	cursor: pointer;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0.5rem;
	justify-content: space-between;
	transition: 0.5s;
	z-index: 10000;
	background-color: var(--secondary-color);
	gap: 8rem;
}

.branding span {
	padding: 8px 8px;
	border-radius: 100px;
	margin: 0 5px 0 0;
}

.branding .fa-bars {
	width: 1.3rem;
	padding: 0 2px;
}

.branding span:hover {
	background-color: var(--hover-bg-color);
}

.branding .logo {
	width: 5rem;
}

.branding p {
	font-size: 0.75rem;
	margin-top: -1.25rem;
}

.searchbar {
	position: relative;
	width: 100%;
	max-width: 500px;
}

.search {
	position: relative;
	width: 100%;
	border: 1px solid var(--hover-bg-dark-color);
	padding: 8px 16px;
	border-radius: 200px;
}

.search>svg {
	position: absolute;
	left: 0;
	width: 1rem;
	pointer-events: none;
	margin: 0 10px;
}

.search input {
	width: 100%;
	border: none;
	outline: none;
	background-color: transparent;
	margin-left: 16px;
}

.search button {
	background-color: var(--hover-bg-color);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 8px;
	border-radius: 0 100px 100px 0;
	width: 3rem;
	outline: none;
	border: none;
}

.search button:hover {
	background-color: var(--hover-bg-dark-color);
}

.search button svg {
	width: 1.25rem;
}

#mic {
	margin-left: 1rem;
	width: 2.5rem;
	padding: 10px 12px;
	border-radius: 100px;
	border: none;
	outline: none;
}

#mic:hover {
	background-color: var(--hover-bg-dark-color);
}

.login>button.more {
	margin-right: 1rem;
	width: 2.1rem;
	padding: 6px 13px;
	border-radius: 100px;
	outline: none;
	border: none;
	background-color: transparent;
}


.login>button.more:hover {
	background-color: var(--hover-bg-color);
}

.signIn {
	border: 1px solid var(--hover-bg-color);
	outline: none;
	padding: 10px 10px;
	width: 100%;
	border-radius: 100px;
	background-color: transparent;
	color: blue;
	text-wrap: nowrap;
}

.signIn:hover {
	background-color: #a3d5ea62;
}

.signIn svg {
	width: 1rem;
	margin-right: 0.30rem;
}

.signIn span {
	text-wrap: none;
}

main {
	position: relative;
	top: 55px;
	flex-direction: row;
}

aside {
	position: fixed;
	overflow-y: auto;
	bottom: 0;
	top: 55px;
	scrollbar-color: transparent transparent;
	transition: 300ms;
	scrollbar-width: thin;
	width: auto;
}

aside:hover {
	scrollbar-color: var(--hover--dark-color) var(--secondary-color);
}

.sidebar-item {
	justify-content: start;
	padding: 8px 8px;
	border-radius: 100px;
	margin: 0 0.5rem;
}

.sidebar-item:not(.not-hover):hover {
	background-color: var(--hover-bg-color);
}

.sidebar-item svg {
	width: 1rem;
	margin: 0.25rem 0.5rem;
}

hr {
	margin: 10px 0;
	width: 100%;
	color: var(--hover-bg-color);
}

.mobile {
	display: none;
}

.mobile-btn {
	margin-left: 1rem;
	width: 2.4rem;
	padding: 10px 12px;
	border-radius: 100px;
	border: none;
	outline: none;
	background-color: transparent;
}

.mobile-btn:hover {
	background-color: var(--hover-bg-color);
}

@media screen and (max-width: 660px) {
	.mobile {
		display: flex;
	}

	.searchbar {
		display: none;
	}

}

.main {
	margin-left: 14rem;
	margin-top: 1rem;
	margin-right: 1rem;
}

.top-bar {
	position: relative;
}

.bg-blur {
	backdrop-filter: blur(10px);
	padding: 3px 8px;
	background-color: var(--secondary-color);
	box-shadow: 0 0 10px 15px var(--secondary-color);
	position: absolute;
	text-wrap: nowrap;
	user-select: none;
}

.bg-blur.left {
	left: 0;
	z-index: 9;
}

.bg-blur.right {
	right: 0;
}

.left-arrow {
	padding: 3px 8px;
	border-radius: 100px;
	background-color: var(--secondary-color);
}

.right-arrow {
	background-color: var(--secondary-color);
	padding: 3px 8px;
	border-radius: 100px;
}

.left-arrow:hover,
.right-arrow:hover {
	background-color: var(--hover-bg-color);
}

.filters {
	position: sticky;
	overflow-x: scroll;
	gap: 0.5rem;
	scrollbar-color: transparent transparent;
	left: 0;
	right: 0;
	width: 100%;
	margin: 0 1rem;
	justify-content: start;
}

.filters .tags:last-child {
	visibility: hidden;
}

.filters span {
	padding: 5px 10px;
	border-radius: 100px;
	background-color: var(--hover-bg-color);
}

.tags {
	text-wrap: nowrap;
}

.filters span:hover {
	background-color: var(--hover-bg-dark-color);
}

.tags:first-child {
	background-color: var(--hover-bg-dark-color);
}

.bg-image1 {
	background: url(../img/bg-img-01.jpg);
}

.bg-image2 {
	background: url(../img/bg-img-02.jpg);
}

.bg-image3 {
	background: url(../img/bg-img-03.jpg);
}

.bg-image4 {
	background: url(../img/bg-img-04.jpg);
}

.bg-image5 {
	background: url(../img/bg-img-05.jpg);
}

.bg-image6 {
	background: url(../img/bg-img-06.jpeg);
}

.bg-image7 {
	background: url(../img/bg-img-07.jpeg);
}

.bg-image8 {
	background: url(../img/bg-img-08.jpeg);
}

.bg-image9 {
	background: url(../img/bg-img-09.jpeg);
}

.bg-image10 {
	background: url(../img/bg-img-10.jpeg);
}

.bg-image11 {
	background: url(../img/bg-img-11.jpeg);
}

.bg-image12 {
	background: url(../img/bg-img-12.jpeg);
}

.content {
	margin-top: 1.5rem;
	overflow: hidden;
}

.videos {
	flex-wrap: wrap;
	gap: 0.5rem;
	justify-content: start;
}

.videos .card {
	width: 20rem;
	position: relative;
	height: 18rem;
}

.videos .card .thumbnail {
	position: relative;
	height: 12rem;
}

.videos .card .thumbnail .overlay {
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	margin: 10px;
	color: var(--secondary-color);
	border-radius: 5px;
	padding: 3px;
	font-size: 0.75rem;
}

.videos .card .thumbnail .image {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	border-radius: 10px;
	position: absolute;
}

.videos .card .details {
	padding: 10px;
	display: flex;
}

.videos .card .details img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 10px;
}

.videos .card .details p {
	color: #5b5757;
	font-size: 0.85rem;
}

.shorts-heading {
	justify-content: start;
}

.shorts-heading svg {
	width: 1.5rem;
	margin-left: 0.3rem;
}

.shorts-img1 {
	background: url(../img/shorts-01.jpg);
}

.shorts-img2 {
	background: url(../img/shorts-02.jpg);
}

.shorts-img3 {
	background: url(../img/shorts-03.jpg);
}

.shorts-img4 {
	background: url(../img/shorts-04.jpg);
}

.shorts-img5 {
	background: url(../img/shorts-05.jpeg);
}

.shorts-img6 {
	background: url(../img/shorts-06.jpeg);
}

.shorts-img7 {
	background: url(../img/shorts-07.jpeg);
}

.shorts-img8 {
	background: url(../img/shorts-08.jpeg);
}

.shorts-img9 {
	background: url(../img/shorts-09.jpeg);
}

.shorts-img10 {
	background: url(../img/shorts-10.jpg);
}

.shorts-img11 {
	background: url(../img/shorts-11.jpg);
}

.shorts-img12 {
	background: url(../img/shorts-12.jpeg);
}

.shorts {
	justify-content: initial;
	align-items: initial;
	gap: 0.5rem;
	margin: 1rem 0 3rem 0;
	width: 100%;
	overflow: auto;
	scrollbar-color: transparent transparent;
	scrollbar-width: thin;
}

.shorts:hover {
	scrollbar-color: var(--hover-bg-dark-color) var(--secondary-color);
}

.shorts .card {
	width: 17rem;
}

.shorts .card .thumbnail {
	position: relative;
	height: 33rem;
	width: 16rem;
}

.shorts .card .thumbnail .image {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	border-radius: 10px;
	position: absolute;
}

.shorts .card .details {
	padding: 10px;
	display: flex;
}

.more {
	justify-content: end;
	align-items: flex-start;
	flex: 1;
}

.more svg {
	width: 0.4rem;
}

.tab-sidebar {
	display: none;
	margin-top: 1rem;
}

.tab-sidebar-item{
	flex-direction: column;
	margin: 0 0.5rem;
	padding: 1rem;
	border-radius: 20px;
}

.tab-sidebar-item:hover {
	background-color: var(--hover-bg-color);
}

.tab-sidebar-item svg {
	width: 1.5rem;
}

.tab-sidebar-item p {
	font-size: 0.7rem;
	margin-top: 0.2rem;
}

@media screen and (min-width: 1440px) {
	.videos .card {
		width: 24rem;
	}
}

@media screen and (max-width: 1024px) {
	.sidebar {
		display: none;
	}

	.tab-sidebar {
		display: block;
	}

	.main {
		margin-left: 8rem;
	}

	.videos .card {
		width: 18rem;
	}
}

@media screen and (max-width: 500px) {
	aside {
		display: none;
		/* Hide aside on small screens */
	}

	.main {
		margin-left: 1rem;
	}

	.videos .card {
		width: 100%;
		height: 20rem;
	}

	.videos .card .thumbnail {
		height: 15rem;
	}

	.navbar {
		gap: 0rem;
	}
}

@media screen and (max-width: 400px) {
	.login button.more {
		display: none;
	}

	.mobile-btn {
		margin-left: 0;
	}
}