* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
}

html {
	scroll-behavior: smooth;
	scrollbar-width: thin;
	scrollbar-color: #000 #fff;
}

.center{
	display: flex;
	justify-content: center;
	align-items: center;
}

.pointer {
	cursor: pointer;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0.5rem;
	justify-content: space-between;
	transition: 0.5s;
	z-index: 10000;
	background-color: #fff;
	gap: 8rem;
}

.branding span {
	padding: 8px 8px;
	border-radius: 100px;
	margin: 0 5px 0 0;
}

.branding .fa-bars {
	width: 1.3rem;
	padding: 0 2px;
}

.branding span:hover {
	background-color: #e8e6e6;
}

.branding .logo {
	width: 5rem;
}

.branding p {
	font-size: 0.75rem;
	margin-top: -1.25rem;
}

.searchbar {
	position: relative;
	width: 100%;
	max-width: 500px;
}

.search {
	position: relative;
	width: 100%;
	border: 1px solid #ccc;
	padding: 8px 16px;
	border-radius: 200px;
}

.search > svg {
	position: absolute;
	left: 0;
	width: 1rem;
	pointer-events: none;
	margin: 0 10px;
}

.search input {
	width: 100%;
	border: none;
	outline: none;
	background-color: transparent;
	margin-left: 16px;
}

.search button {
	background-color: #e8e6e6;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 8px;
	border-radius: 0 100px 100px 0;
	width: 3rem;
	outline: none;
	border: none;
}

.search button:hover {
	background-color: #ccc;
}

.search button svg {
	width: 1.25rem;
}

#mic {
	margin-left: 1rem;
    width: 2.5rem;
    padding: 10px 12px;
    border-radius: 100px;
    border: none;
    outline: none;
}

#mic:hover {
	background-color: #ccc;
}

.login > button.more {
	margin-right: 1rem;
    width: 2.1rem;
    padding: 6px 13px;
    border-radius: 100px;
    outline: none;
    border: none;
	background-color: transparent;
}


.login > button.more:hover {
	background-color: #e8e6e6;
}

.signIn {
	border: 1px solid #e8e6e6;
	outline: none;
	padding: 10px 10px;
	width: 100%;
	border-radius: 100px;
	background-color: transparent;
	color: blue;
}

.signIn:hover {
	background-color: #a3d5ea62;
}

.signIn svg{
	width: 1rem;
	margin-right: 0.30rem;
}

.signIn span {
	text-wrap: nowrap;
}

main {
	position: relative;
	top: 55px;
	flex-direction: row;
}

aside {
	position: fixed;
	overflow-y: auto;
	bottom: 0;
	top: 55px;
	scrollbar-color: transparent transparent;
	transition: 300ms;
	scrollbar-width: thin;
	width: auto;
}

aside:hover {
	scrollbar-color: #000 #fff;
}

.sidebar-item {
	justify-content: start;
	padding: 8px 8px;
}


.sidebar-item svg {
	width: 1rem;
	margin: 0.25rem 0.5rem;
}

hr {
	margin: 0 10px;
}

.mobile {
	display: none;
}

.mobile-btn {
	margin-left: 1rem;
    width: 2.4rem;
    padding: 10px 12px;
    border-radius: 100px;
    border: none;
    outline: none;
	background-color: transparent;
}

.mobile-btn:hover {
	background-color: #ccc;
}

@media screen and (max-width: 660px) {
	.mobile {
		display: flex;
	}

	.searchbar {
		display: none;
	}
	
}

.main {
	margin-left: 13rem;
	margin-top: 1rem;
}

.topbar {

}

.bg-blur {
	backdrop-filter: blur(10px);
}

.left-arrow{
	padding: 3px 8px;
	border: 1px solid black;
	border-radius: 100px;
	box-shadow: 0 0 10px 15px #fff;
}

.left-arrow:hover {
	background-color: #e8e6e6;
}